.section-introduction{
  background-image: url("../../assets/images/introduction-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 40vh;
  padding: var(--pad-mobile-x) var(--pad-mobile-y);
}

h1{
    color:white;
}

.introduction-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.introduction-text p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 24px;
}

.introduction-text p:last-child {
  margin-bottom: 0;
}


@media (min-width: 1280px){
  .section-introduction{
    background-image: url("../../assets/images/introduction-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    min-height: 70vh;
    padding: var(--pad-desktop-x) var(--pad-desktop-y);
  }

  .introduction-text{
    max-width: 12em;
    font-size: 50px;
    margin-left:230px;
  }
}
