.section-benefits {
  background-color: #2947F2;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits-title {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px; 
  padding: 40px 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .card-grid {
      display: grid;
      grid-template-columns: repeat(2, 500px); 
      justify-content: center; 
      align-content: center;
      gap: 150px 40px; 
      width: 100%;
      max-width: 1200px; 
      margin: 0 auto;
  }

  .benefits-title {
    font-size: 40px;
    line-height: 36px;
    padding-bottom: 130px;
    font-weight: bold;
  }

  .card-grid > div:nth-child(3) {
    grid-column: 1 / span 2; 
    justify-self: center; 
    width: 500px;
    display: flex;
    justify-content: center;
    
  }
}